[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/vim-perl"]
	path = bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl
[submodule "bundle/vim-docker"]
	path = bundle/vim-docker
	url = git@github.com:infoslack/vim-docker.git
